body {
    width: 1000px;
    background-color: #FFFFFF;
    margin-left: 40px;
}
.banner {
    height: 600px;
    width: 1320;
    margin-left: 10px;
}
.offsection {
    height: 450px;
    width: 450px;
    border: 1px solid rgb(255, 255, 255);
    align-content: center;
    margin-left: 500px;
    margin-top: 30px;
} 
.off {
    text-align: center;
    color: red;
    font-size: 40px;
    font-family: "Inter", sans-serif;
}
.deal {
    text-align: center;
    color: red;
    font-size: 10px;
}
.categories {
    text-align: center;
}
.new {
    height: 250px;
    width: 350px;
}
.container {
    display: flex;
    position: relative;
    text-align: center;
    color: white;
    height: 600px;
    width: 1120px;
    margin-left: 100px;
    margin-top: 50px;
}
.midnight {
    position: absolute;
    top: 180px;
    left: 60px;
    text-align: left;
}
.join {
    margin-left: 30px;
}
.group {
    position: absolute;
    top: 80px;
    right: 1px;
    height: 350px;
    width: 250px;
}
.flexinbanner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.bgbanner {
    height: 250px;
    width: 1120px;
    margin-left: 100px;
    margin-top: 70px;
    background: linear-gradient(#e66465, #f5f5f5);
    h1 {
        text-align: center;
    }
    .joinow {
        text-align: center;
        }

}
.background {
    height: 250px;
    width: 1120px;
}
.center {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 50px;
}
.background {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-top: 70px;
}
.left {
    margin-top: 20px;
}
.right {
    margin-top: 20px;
}
.holidaysale {
    height: 800px;
    width: 1120px;
    position: relative;
    left: 80px;
    right: 0;
    margin: auto;
}
.top {
    text-align: center;
}
.middle {
    position: absolute;
    right: 0;
    margin-top: 65px;
}
.headline {
    height: 114px;
    width: 1120;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}
.headlinepic {
    height: 350px;
    width: 350px;
    position: absolute;
    bottom: 0;
    left: 200px;
}
.middleright {
    height: 150px;
    width: 150px;
    position: absolute;
    right: 0;
    margin-right: 350px;
    margin-top: 250px;
}
.pcontainer {
    height: 1000px;
    width: 1120px;
    margin-left: 80px;
}
.groupimg {
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.groupimgg {
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
}
.scontainer {
    height: 600px;
    width: 1120px;
    background: rgba(255, 0, 0, 0.05);
    margin-left: 80px;
    position: relative;
}
.mailbox {
    height: 55px;
    width: 128px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    margin-top: 100px;
}
.subtext {
    text-align: center;
    padding: 250px;
}
.sbox {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 150px;
}
.fcontainer {
    height: 409px;
    width: 1120px;
    background: rgb(7, 2, 17);
    margin-left: 80px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    position: relative;

}
.fleft {
    color: white;
    margin-top: 60px;
    margin-left: 0;
}
.fright {
    color: white;
    margin-top: 60px;
}
.call {
    display: flex;
    justify-content: space-between;
}
.website {
    display: flex;
    justify-content: space-between;
}
.icon {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 250px;
    gap: 20px;
    
}
.callimg {
    height: 20px;
    margin-top: 23px;
}
.websiteimg {
    height: 20px;
    margin-top: 23px;
}
.unsub {
    color: white;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
}